*{
  box-sizing:border-box;
  padding : 0;
  margin : 0;
}

body{
  background : #d2d2d2;
  font-family: Arial;
}

.react-select-animate{
  display: block;
  position: relative;
  color: #d2d2d2;

  &__input{
    width: 100%;
    padding: 15px;
    font-size: 14px;
    background: #fff;
    color:#000;
    border: 1px solid rgba(0,0,0,0.2);
    outline: none!important;
  }

  &__list{
    display: block;
    width:100%;
    position: absolute;
    top: 48px;
    left: 0;
    background: #fff;
    border: 1px solid rgba(0,0,0,0.2);
    padding:0;
    box-shadow: 0 3px 18px -4px rgba(0,0,0,.2);
    z-index: 10;
    li{
      display: block;
      span{
        display:block;
        padding: 15px;
        border-bottom: 1px solid rgba(0,0,0,0.1);
        transition: all 0.3s;
        cursor:pointer;
        color:#000;
        text-transform:capitalize;
        &:hover{
          background: #009ec3;
          color:#fff;
          box-shadow: 0 3px 18px -4px rgba(0,0,0,.2);
        }
      }
    }
  }

  .show-list{
    visibility: visible;
  }

  .hide-list{
    visibility: hidden;
  }
}